<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Email Sent</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/vendors.min.css"/>
    <link rel="stylesheet" href="/static/css/icon.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <link rel="stylesheet" href="/static/demos/fashion-store/fashion-store.css" />
</head>

<body data-mobile-nav-style="classic">

{% include "components/navbar.html" %}

<!-- Page title -->
<section class="top-space-margin half-section bg-gradient-very-light-gray">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10">
                <h1 class="alt-font fw-600 text-dark-gray mb-10px">
                    Email sent
                </h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Email sent</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Content -->
<section class="pt-0">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04 text-center">

                <span class="fs-24 alt-font fw-600 text-dark-gray mb-15px d-block">
                    Check your inbox
                </span>

                <p class="mb-25px fs-15">
                    If an account exists with the email you entered,
                    you will receive a password reset link shortly.
                </p>

                

            </div>
        </div>
    </div>
</section>

{% include "components/footer.html" %}

<!-- scripts -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/vendors.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
