<!doctype html>
<html class="no-js" lang="en">
<head>
    <title>Forgot Password</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />

    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- styles -->
    <link rel="stylesheet" href="/static/css/vendors.min.css"/>
    <link rel="stylesheet" href="/static/css/icon.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="stylesheet" href="/static/css/responsive.css"/>
    <link rel="stylesheet" href="/static/demos/fashion-store/fashion-store.css" />
</head>

<body data-mobile-nav-style="classic">

{% include "components/navbar.html" %}

<!-- Page title -->
<section class="top-space-margin half-section bg-gradient-very-light-gray">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-xl-8 col-lg-10">
                <h1 class="alt-font fw-600 text-dark-gray mb-10px">
                    Forgot password
                </h1>
            </div>
            <div class="col-12 breadcrumb breadcrumb-style-01 d-flex justify-content-center">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Forgot password</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Form -->
<section class="pt-0">
    <div class="container">
        <div class="row g-0 justify-content-center">
            <div class="col-xl-4 col-lg-5 col-md-10 contact-form-style-04">

                <span class="fs-26 alt-font fw-600 text-dark-gray mb-15px d-block">
                    Reset your password
                </span>

                <p class="mb-20px fs-15">
                    Enter your email address to receive a password reset link.
                </p>

                <form method="post">
                    {% csrf_token %}

                    <label class="text-dark-gray mb-10px fw-500">
                        Email address<span class="text-red">*</span>
                    </label>

                    {{ form.email }}

                    <button type="submit"
                        class="btn btn-medium btn-round-edge btn-dark-gray btn-box-shadow w-100 mt-20px">
                        Send reset link
                    </button>
                </form>

                
            </div>
        </div>
    </div>
</section>

{% include "components/footer.html" %}

<!-- scripts -->
<script src="/static/js/jquery.js"></script>
<script src="/static/js/vendors.min.js"></script>
<script src="/static/js/main.js"></script>

</body>
</html>
