    <!-- start footer -->
    <footer class="footer-dark bg-dark-gray p-0">
        <div class="container">
            <div class="row align-items-center pt-35px pb-35px">
                <!-- start footer column -->
                <div class="col-12 col-md-auto sm-mb-15px text-center text-md-start">
                    <a href="/" class="footer-logo"><img
                            src="/static/images/dvive-new.png"
                            data-at2x="/static/images/dvive-new.png" alt="" class="default-logo"></a>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col">
                    <ul class="footer-navbar text-center text-md-end">
                        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="{% url 'product' %}" class="nav-link">Shop</a></li>
                        <li class="nav-item"><a href="demo-fashion-store-collection.html"
                                class="nav-link">Collection</a></li>
                        <li class="nav-item"><a href="{% url 'blog' %}" class="nav-link">Blog</a>
                        </li>
                        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
                        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
            </div>
            <div class="row justify-content-center fs-15 lh-28 pb-50px xs-pb-35px">
                <div class="col-12 mb-50px sm-mb-35px">
                    <div class="divider-style-03 divider-style-03-01 border-color-transparent-white-light"></div>
                </div>
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fw-500 d-block text-white mb-5px fs-17">Categories</span>
                    <ul>
                        <li><a href="demo-fashion-store-shop.html">Men</a></li>
                        <li><a href="demo-fashion-store-shop.html">Women</a></li>
                        <li><a href="demo-fashion-store-shop.html">Accessories</a></li>
                        <li><a href="demo-fashion-store-shop.html">Shoes</a></li>
                        <li><a href="demo-fashion-store-shop.html">Dresses</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fw-500 d-block text-white mb-5px fs-17">Information</span>
                    <ul>
                        <li><a href="{% url 'about' %}">About us</a></li>
                        <li><a href="{% url 'contact' %}">Contact us</a></li>
                        <li><a href="#">Terms & conditions</a></li>
                        <li><a href="#">Shipping & delivery</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div class="col-6 col-lg-2 col-sm-4 xs-mb-30px order-sm-3 order-lg-2">
                    <span class="fw-500 d-block text-white mb-5px fs-17">Quick links</span>
                    <ul>
                        <li><a href="demo-fashion-store-account.html">My account</a></li>
                        <li><a href="#">Orders tracking</a></li>
                        <li><a href="#">Our store</a></li>
                        <li><a href="#">Size guide</a></li>
                        <li><a href="demo-fashion-store-faq.html">FAQs</a></li>
                    </ul>
                </div>
                <!-- end footer column -->
                <!-- start footer column -->
                <div
                    class="col-6 col-lg-3 col-md-4 col-sm-5 md-mb-50px xs-mb-30px order-sm-2 order-lg-2 offset-md-2 offset-lg-0">
                    <span class="fw-500 d-block text-white mb-10px fs-17">Quick contact</span>
                    <div><i class="feather icon-feather-phone-call fs-16 text-white me-10px xs-me-5px"></i><a
                            href="tel:1234567890">123 456 7890</a></div>
                    <div class="mb-15px"><i class="feather icon-feather-mail fs-16 text-white me-10px xs-me-5px"></i><a
                            href="mailto:info@domain.com" class="text-decoration-line-bottom">info@domain.com</a></div>
                    <span class="fw-500 d-block text-white mb-5px fs-17">Connect with us</span>
                    <div class="elements-social social-icon-style-02">
                        <ul class="light">
                            <li><a class="facebook" href="https://www.facebook.com/" target="_blank"><i
                                        class="fa-brands fa-facebook-f"></i></a></li>
                            <li><a class="dribbble" href="http://www.dribbble.com" target="_blank"><i
                                        class="fa-brands fa-dribbble"></i></a></li>
                            <li><a class="twitter" href="http://www.twitter.com" target="_blank"><i
                                        class="fa-brands fa-twitter"></i></a></li>
                            <li><a class="instagram" href="http://www.instagram.com" target="_blank"><i
                                        class="fa-brands fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
               
             
                    
            </div>
        </div>
        <div class="pt-30px pb-30px bg-nero-grey">
            <div class="container">
                <div class="row align-items-center fs-15">
                    <div class="col-12 col-lg-7 last-paragraph-no-margin md-mb-15px text-center text-lg-start lh-22">
                        <p>This site is protected by reCAPTCHA and the Google <a href="#"
                                class="text-white text-decoration-line-bottom">privacy policy</a> and <a href="#"
                                class="text-white text-decoration-line-bottom">terms of service.</a></p>
                    </div>
                    <div class="col-12 col-lg-5 text-center text-lg-end lh-22">
                        <span>&copy; 2024 Crafto is Proudly Powered by <a href="https://www.themezaa.com/"
                                target="_blank" class="text-decoration-line-bottom text-white">ThemeZaa</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    <!-- start cookie message -->
    <div id="cookies-model" class="cookie-message bg-dark-gray border-radius-8px">
        <div class="cookie-description fs-14 text-white mb-20px lh-22">We use cookies to enhance your browsing
            experience, serve personalized ads or content, and analyze our traffic. By clicking "Allow cookies" you
            consent to our use of cookies. </div>
        <div class="cookie-btn">
            <a href="#"
                class="btn btn-transparent-white border-1 border-color-transparent-white-light btn-very-small btn-switch-text btn-rounded w-100 mb-15px"
                aria-label="btn">
                <span>
                    <span class="btn-double-text" data-text="Cookie policy">Cookie policy</span>
                </span>
            </a>
            <a href="#"
                class="btn btn-white btn-very-small btn-switch-text btn-box-shadow accept_cookies_btn btn-rounded w-100"
                data-accept-btn aria-label="text">
                <span>
                    <span class="btn-double-text" data-text="Allow cookies">Allow cookies</span>
                </span>
            </a>
        </div>
    </div>
    <!-- end cookie message -->
    <!-- start sticky elements -->
    <div class="sticky-wrap z-index-1 d-none d-xl-inline-block" data-animation-delay="100" data-shadow-animation="true">
        <div class="elements-social social-icon-style-10">
            <ul class="fs-16">
                <li class="me-30px"><a class="facebook" href="https://www.facebook.com/share/1C7tJ7YY3D/" target="_blank">
                        <i class="fa-brands fa-facebook-f me-10px"></i>
                        <span class="alt-font">Facebook</span>
                    </a>
                </li>
                <li class="me-30px">
                    <a class="dribbble" href="http://www.dribbble.com" target="_blank">
                        <i class="fa-brands fa-dribbble me-10px"></i>
                        <span class="alt-font">Dribbble</span>
                    </a>
                </li>
                <li class="me-30px">
                    <a class="twitter" href="http://www.twitter.com" target="_blank">
                        <i class="fa-brands fa-twitter me-10px"></i>
                        <span class="alt-font">Twitter</span>
                    </a>
                </li>
                <li>
                    <a class="instagram" href="https://www.instagram.com/dvive_clothings?igsh=Zjcyd3ljdGp3ZGYx" target="_blank">
                        <i class="fa-brands fa-instagram me-10px"></i>
                        <span class="alt-font">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end sticky elements -->
    <!-- start scroll progress -->
    <div class="scroll-progress d-none d-xxl-block">
        <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
        </a>
    </div>
    <!-- end scroll progress -->